.pad{
    margin-left: 50px;
    width: 400px; 
    position: relative;
}
.pad2{
    display: flex;
    align-items: center;
}
img{
    border-radius: 5px;
}
.silver{
    color: rgb(134, 134, 134);
}
.margin-top{
    margin-top: -15px;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}
.main::-webkit-scrollbar{
    display: none;
}
.badge{
    position:absolute;
    top:6px;
    left:6px;
    background-color: white;
    color: black;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
